

a:link {
    color: #ff3333;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
        
}
a:visited {
    color: #ff3333;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    
}
a:hover {
    color: #99ffcc;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    
    
}


a:active {
    color: #000000;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
    
    
}